In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pickle

In [ ]:
data = pd.read_csv('indian_liver_patient.csv')

In [ ]:
data

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
0,65,Female,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,Male,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,58,Male,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40,1
...,...,...,...,...,...,...,...,...,...,...,...
578,60,Male,0.5,0.1,500,20,34,5.9,1.6,0.37,2
579,40,Male,0.6,0.1,98,35,31,6.0,3.2,1.10,1
580,52,Male,0.8,0.2,245,48,49,6.4,3.2,1.00,1
581,31,Male,1.3,0.5,184,29,32,6.8,3.4,1.00,1
582,38,Male,1.0,0.3,216,21,24,7.3,4.4,1.50,2

In [ ]:
data.isnull().sum()

Age                           0
Gender                        0
Total_Bilirubin               0
Direct_Bilirubin              0
Alkaline_Phosphotase          0
Alamine_Aminotransferase      0
Aspartate_Aminotransferase    0
Total_Protiens                0
Albumin                       0
Albumin_and_Globulin_Ratio    4
Dataset                       0
dtype: int64

In [ ]:
data[data['Albumin_and_Globulin_Ratio'].isna()]

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
209,45,Female,0.9,0.3,189,23,33,6.6,3.9,NaN,1
241,51,Male,0.8,0.2,230,24,46,6.5,3.1,NaN,1
253,35,Female,0.6,0.2,180,12,15,5.2,2.7,NaN,2
312,27,Male,1.3,0.6,106,25,54,8.5,4.8,NaN,2

In [ ]:
data.mode()

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
0,60.0,Male,0.8,0.2,198,25.0,23.0,7.0,3.0,1.0,1.0
1,NaN,NaN,NaN,NaN,215,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,298,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#Replace nan's with the mode of the series
data['Albumin_and_Globulin_Ratio'].fillna(data['Albumin_and_Globulin_Ratio'].mode()[0], inplace = True)

In [ ]:
data_one = pd.get_dummies(data["Gender"])
data_two = pd.concat((data_one, data), axis=1)
data_two = data_two.drop(["Gender"],axis = 1)
data_two = data_two.drop(["Female"],axis = 1)
data = data_two.rename(columns = {"Male":"Gender"})
data
#1 - No disease
#2 - Yes disease
#Gender:
#0 - Female
#1 - Male

,Gender,Age,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
0,0,65,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,1,62,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,1,62,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,1,58,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,1,72,3.9,2.0,195,27,59,7.3,2.4,0.40,1
...,...,...,...,...,...,...,...,...,...,...,...
578,1,60,0.5,0.1,500,20,34,5.9,1.6,0.37,2
579,1,40,0.6,0.1,98,35,31,6.0,3.2,1.10,1
580,1,52,0.8,0.2,245,48,49,6.4,3.2,1.00,1
581,1,31,1.3,0.5,184,29,32,6.8,3.4,1.00,1
582,1,38,1.0,0.3,216,21,24,7.3,4.4,1.50,2

In [ ]:
scores={}
x = data.iloc[:,0:-1]
y = data.iloc[:,-1]

In [ ]:
x

,Gender,Age,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio
0,0,65,0.7,0.1,187,16,18,6.8,3.3,0.90
1,1,62,10.9,5.5,699,64,100,7.5,3.2,0.74
2,1,62,7.3,4.1,490,60,68,7.0,3.3,0.89
3,1,58,1.0,0.4,182,14,20,6.8,3.4,1.00
4,1,72,3.9,2.0,195,27,59,7.3,2.4,0.40
...,...,...,...,...,...,...,...,...,...,...
578,1,60,0.5,0.1,500,20,34,5.9,1.6,0.37
579,1,40,0.6,0.1,98,35,31,6.0,3.2,1.10
580,1,52,0.8,0.2,245,48,49,6.4,3.2,1.00
581,1,31,1.3,0.5,184,29,32,6.8,3.4,1.00
582,1,38,1.0,0.3,216,21,24,7.3,4.4,1.50

In [ ]:
y

0      1
1      1
2      1
3      1
4      1
      ..
578    2
579    1
580    1
581    1
582    2
Name: Dataset, Length: 583, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.2) 
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((466, 10), (117, 10), (466,), (117,))

#Other Models

In [ ]:
#Logistic regression

from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(max_iter = 2000)
model = lr.fit(x_train,y_train)
scores["Logistic regression"] = model.score(x_test,y_test)
scores["Logistic regression"]

0.7521367521367521

In [ ]:
#Naive Bayes

from sklearn.naive_bayes import GaussianNB
nb = GaussianNB()
model = nb.fit(x_train, y_train)
scores["Naive Bayes"] = model.score(x_test, y_test)
scores["Naive Bayes"]

0.5470085470085471

In [ ]:
#Stochastic Gradient Descent

from sklearn.linear_model import SGDClassifier
sgdc = SGDClassifier()
model = sgdc.fit(x_train, y_train)
scores["Stochastic Gradient Descent"] = model.score(x_test, y_test)
scores["Stochastic Gradient Descent"]

0.4188034188034188

In [ ]:
#Decision Tree

from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier()
model = dtc.fit(x_train, y_train)
scores["Decision Tree"] = model.score(x_test, y_test)
scores["Decision Tree"]

0.6324786324786325

#SVM, Random Forest, KNN

In [ ]:
#K-Nearest Neighbours

from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
model = knn.fit(x_train, y_train)
scores["K-Nearest Neighbours"] = model.score(x_test, y_test)
scores["K-Nearest Neighbours"]

0.6581196581196581

In [ ]:
#Random Forest

from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier()
model = rfc.fit(x_train, y_train)
scores["Random Forest"] = model.score(x_test, y_test)
scores["Random Forest"]

0.6495726495726496

In [ ]:
#Support Vector Machine

from sklearn.svm import SVC
svm = SVC()
model = svm.fit(x_train, y_train)
scores["Support Vector Machine"] = model.score(x_test, y_test)
scores["Support Vector Machine"]

0.6666666666666666

In [ ]:
scoresdf = pd.DataFrame(scores.items(), columns=['Model', 'Accuracy'])
scoresdf.sort_values(by="Accuracy", ascending=False, inplace=True)
scoresdf

                    Model  Accuracy
2  Support Vector Machine  0.666667
0    K-Nearest Neighbours  0.658120
1           Random Forest  0.649573

In [ ]:
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [ ]:
svm = SVC()
RFmodel = RandomForestClassifier()
KNNmodel = KNeighborsClassifier()

In [ ]:
svm.fit(x_train, y_train)
SVMpred = svm.predict(x_test)
SVMaccuracy = accuracy_score(SVMpred, y_test)

RFmodel.fit(x_train, y_train)
RFpred = RFmodel.predict(x_test)
RFaccuracy = accuracy_score(RFpred, y_test)

KNNmodel.fit(x_train,y_train)
KNNpred = KNNmodel.predict(x_test)
KNNaccuracy = accuracy_score(KNNpred,y_test)


print("SVM : {0} | RF : {1} | KNN : {2}".format(SVMaccuracy.round(2), RFaccuracy.round(2), KNNaccuracy.round(2)))

SVM : 0.73 | RF : 0.72 | KNN : 0.68

In [ ]:
print("SVM")
print(classification_report(y_test,SVMpred))
print("Random Forest")
print(classification_report(y_test,RFpred))
print("KNN")
print(classification_report(y_test,KNNpred))

SVM
              precision    recall  f1-score   support

           1       0.73      1.00      0.84        85
           2       0.00      0.00      0.00        32

    accuracy                           0.73       117
   macro avg       0.36      0.50      0.42       117
weighted avg       0.53      0.73      0.61       117

Random Forest
              precision    recall  f1-score   support

           1       0.78      0.86      0.82        85
           2       0.48      0.34      0.40        32

    accuracy                           0.72       117
   macro avg       0.63      0.60      0.61       117
weighted avg       0.69      0.72      0.70       117

KNN
              precision    recall  f1-score   support

           1       0.75      0.82      0.79        85
           2       0.38      0.28      0.32        32

    accuracy                           0.68       117
   macro avg       0.56      0.55      0.55       117
weighted avg       0.65      0.68      0.66       117

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [ ]:
pickle.dump(svm, open('SVM_10thaug.pkl','wb'))
pickle.dump(RFmodel, open('RF_10thaug.pkl','wb'))
pickle.dump(KNNmodel, open('KNN_10thaug.pkl','wb'))